.order-success {
    height: 100%;
    min-height: 100vh;

    h2,
    p {
        margin-top: 5rem;
        text-align: center;
        font-size: 2rem;
        color: #666;
    }

    h2 {
        margin-top: 20rem;
    }
}